%html
  %head
    %title= "#{title} by #{username}"
    %link{:rel => "stylesheet", :href => "http://#{env['SERVER_ADDR']}/static/css/style.css"}
  %body
    #image
      %img{:src => "http://#{env['SERVER_ADDR']}#{path}"}
    #title= "#{title}"
    #description= "#{desc}"
    #user= "Photo taken by #{username}"
      